<h1>Listing Places</h1>

<table class="table table-striped ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Description</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Average Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= link_to place.name, places_path(place) %></td>
        <td><%= place.address %></td>
        <td><%= place.description %></td>
        <td><%= place.phone %></td>
        <td><%= place.website %></td>
        <td><%= place.latitude %></td>
        <td><%= place.longitude %></td>
        <td>
          <div class="averageRating_<%= place.id %>">

          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user %>
    <%= link_to 'New Place', new_place_path %>
<% end %>